.profile{
    background-color: teal;
    display: flex;
    gap: 30px;
    height: 100;
}
.profileLink{
    width: 300px;
}
.profileLink nav{
    background-color: blue;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.userData{
    flex-grow: 1;
}
nav a{
    color: #fff;
    text-decoration: none;
}